html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: tomato;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}